<%-include('partials/header')%>
<% if(content!=null){ %>
<%content.forEach(function(post){%>
<form class="" action="/" method="post">

  <div class="">
    <div class="mulo">
      <h1><%-post.title%></h1>
      <p><%-post.para.substring(0,100)+"..." %> <span><a href="/article/<%-post._id%>">Read More</a></span></p>
      <small>Author:-<%-post.username.username%></small>
    </div>

</div>

</form>

<%})%>
<%}%>


    <%-include('partials/footer')%>
